body {
  font-family: Helvetica;
  background-color: yellow;
}

h1 {
  font-weight: 100;
}

#logo {
  height: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
